.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
*.log
wandb/
secrets
**/*.secret
saves
.pytest_cache
**/*.json
!devcontainer.json
!experiments/level3_ppo_loop/state.json
!experiments/level3_ppo_loop/checkpoint_manifest.json
**/*.csv
*.npz
*.ckpt
lsy_drone_racing/control/checkpoints/
plots/
c_generated_code/
/build
drone_notes/.obsidian/

# pixi environments
.pixi/*
!.pixi/config.toml
ros_ws/
acados/
